<section class="hero is-danger">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <!-- Computer Vision Info -->
                <div class="column">
                    <div class="content">
                        <h2 style="color: hsl(0, 0%, 96%)">What is Computer Vision?</h2>
                        <p>Computer vision is an interdisciplinary scientific field that deals with how computers can be made to gain high-level understanding from digital images or videos. From the perspective of engineering, it seeks to automate tasks that the human visual system can do.Computer vision tasks include methods for acquiring, processing, analyzing and understanding digital images, and extraction of high-dimensional data from the real world in order to produce numerical or symbolic information, e.g., in the forms of decisions.Understanding in this context means the transformation of visual images (the input of the retina) into descriptions of the world that can interface with other thought processes and elicit appropriate action. This image understanding can be seen as the disentangling of symbolic information from image data using models constructed with the aid of geometry, physics, statistics, and learning theory.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<div class="column">
    <div class="content">
        <h3>Truck Number Plate Detection</h3>
        <p>In this use case we are trying to localize the number plate of the vehicle and we are taking a various action in case of any violation of the rule by system itself. We can use this application in warehouse in no men land and we can use this application for traffic law enforcement in case of any violation.</p>
    </div>
</div>
<br />
<br />


<div class="timeline">
    <header class="timeline-header">
        <span class="tag is-medium is-primary">Start</span>
    </header>
    <div class="timeline-item is-primary">
        <div class="timeline-marker is-primary"></div>
        <div class="timeline-content">
        <p class="heading">Truck Number Plate Detection</p>
        <p>In this use case we are trying to localize the number plate of the vehicle and we are taking a various action in case of any violation of the rule by system itself. We can use this application in warehouse in no men land and we can use this application for traffic law enforcement in case of any violation.</p>
        </div>
    </div>
    <div class="timeline-item is-primary">
        <div class="timeline-marker is-primary"></div>
        <div class="timeline-content">
                <div class="columns">
                    <div class="column">
                        <p class="heading">Take a picture</p>
                        <div class="content">
                            <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                                [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                                [videoOptions]="videoOptions"
                                [imageQuality]="1"
                                (cameraSwitched)="cameraWasSwitched($event)"
                                (initError)="handleInitError($event)"
                            ></webcam>
                            <br />
                            <a (click)="triggerSnapshot();" class="button is-success">Detect License Plate</a>
                        </div>
                    </div>
                    <div class="column" *ngIf="isTruckNumberPlateDetectionRunning">
                        <p class="heading">Current Image</p>
                        <img height="500px" width="500px" [src]="currentImageBase64">
                    </div>
                </div>
            
        </div>
    </div>
    <div class="timeline-item is-primary">
        <div class="timeline-marker is-primary"></div>
        <div class="timeline-content">
            <p class="heading">Get Results</p>
            <!-- Progress Bar -->
    <progress *ngIf="isTruckNumberPlateDetectionRunning" class="progress is-info" max="100">30%</progress>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">License Plate</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <label class="label" [innerHTML]="numberPlate"></label>
                </p>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Processing Time</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <label class="label" [innerHTML]="processingTime"></label>
                </p>
            </div>
        </div>
    </div>
    </div>
    </div>
    <header class="timeline-header">
        <span class="tag is-medium is-primary">End</span>
    </header>
</div>
<br />    
<br />
<br />
<div class="column">
    <div class="content">
        <h3>Product Recommendation</h3>
        <p>In this use case we are trying to localize the number plate of the vehicle and we are taking a various action in case of any violation of the rule by system itself. We can use this application in warehouse in no men land and we can use this application for traffic law enforcement in case of any violation.</p>
    </div>
</div>
<br />
<br />

<div class="timeline is-rtl">
    <header class="timeline-header">
        <span class="tag is-medium is-primary">Start</span>
    </header>
    <div class="timeline-item is-primary">
        <div class="timeline-marker is-primary"></div>
        <div class="timeline-content">
        <p class="heading">Product Recommendation</p>
        <p>In this use case we are trying to localize the number plate of the vehicle and we are taking a various action in case of any violation of the rule by system itself. We can use this application in warehouse in no men land and we can use this application for traffic law enforcement in case of any violation.</p>
        </div>
    </div>
    <div class="timeline-item is-primary">
        <div class="timeline-marker is-primary"></div>
        <div class="timeline-content">
                <div class="columns">
                    <div class="column">
                        <p class="heading">Take a picture</p>
                        <div class="content">
                            <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                                [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                                [videoOptions]="videoOptions"
                                [imageQuality]="1"
                                (cameraSwitched)="cameraWasSwitched($event)"
                                (initError)="handleInitError($event)"
                            ></webcam>
                            <br />
                            <a (click)="triggerSnapshotProductRecommendation();" class="button is-success">Get Recommendation</a>
                        </div>
                    </div>
                    <div class="column" *ngIf="isProductRecommendationRunning">
                        <p class="heading">Current Image</p>
                        <img height="500px" width="500px" [src]="currentImageBase64">
                    </div>
                </div>
            
        </div>
    </div>
    <div class="timeline-item is-primary">
        <div class="timeline-marker is-primary"></div>
        <div class="timeline-content">
            <p class="heading">Get Results</p>
            <!-- Progress Bar -->
            <progress *ngIf="isProductRecommendationRunning" class="progress is-info" max="100">30%</progress>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Gender</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <label class="label" [innerHTML]="gender"></label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Age</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <label class="label" [innerHTML]="age"></label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field-label is-normal">
                <label class="label">Products</label>
            </div>
            <ul>
                <li *ngFor="let product of products"><a href="{{ product.name }}">{{ product.name }}</a></li>
            </ul>
    </div>
    </div>
    <header class="timeline-header">
        <span class="tag is-medium is-primary">End</span>
    </header>
</div>
<br />    
<!-- 
<section class="hero">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="content">
                    <article class="message is-primary">
                        <div class="message-header">
                            <p>Product Recommendation</p>
                        </div>
                        <div class="message-body">
                            Product recommendation will recommend you a various beauty and health product based on the the facial and hair examination which our team has implemented by using Deep learning AI vision technique , it will identify oily or dry skin condition or for hair baldness and it will suggest UNILEVER product to prevent that .
                        </div>
                        <a class="button is-danger">Demo</a>
                    </article>
                </div>
            </div> 
         <div class="column is-centered">
                <div class="content">
                    <article class="message is-primary">
                        <div class="message-header">
                            <p>Truck Number Plate Detection</p>
                        </div>
                        <div class="message-body">
                            In this use case we are trying to localize the number plate of the vehicle and we are taking a various action in case of any violation of the rule by system itself. We can use this application in warehouse in no men land and we can use this application for traffic law enforcement in case of any violation.
                        </div>
                        <a class="button is-danger" (click)="isProductionRecommendationModelClicked()">Demo</a>
                    </article>
                </div>
            </div> 
        </div>
    </div>
</section>

<div [ngClass]="{'is-active': isProductRecommendationActive , 'modal' : true}">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Truck License Plate Detection</p>
                <button class="delete" aria-label="close" (click)="isProductionRecommendationModelClicked()"></button>
            </header>
            <section class="modal-card-body">
                <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                        [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                        [videoOptions]="videoOptions"
                        [imageQuality]="1"
                        (cameraSwitched)="cameraWasSwitched($event)"
                        (initError)="handleInitError($event)"
                ></webcam>
                <br />
                <a (click)="triggerSnapshot();" class="button is-success">Detect License Plate</a>
                <br /><br />

                <progress *ngIf="isTruckNumberPlateDetectionRunning" class="progress is-info" max="100">30%</progress>
                <hr />
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Number Plate</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" [(ngModel)]="numberPlate">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Processing Time</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" [(ngModel)]="processingTime">
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <button class="modal-close is-large" (click)="isProductionRecommendationModelClicked()" aria-label="close"></button>
</div> -->