<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<main class="main-wrapper">
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        
        li {
            float: left;
        }
        
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover {
            background-color: #111;
        }
    </style>
    
    <ul style="margin-bottom: 2%">
        <li><a class="active" href="/vm">VM Process Monitoring</a></li>
        <li><a class="active" href="/processscheduler">Process Scheduler</a></li>
        <!-- <li><a style="position: absolute; ;right: 0px" id="userLogin" (click)="authFunction()">{{ authButtonName }}</a></li> -->
    </ul>

    <!-- The view is injected here -->
    <router-outlet></router-outlet>

    <!-- footer -->
    <footer class="footer">
        <div class="content has-text-centered">
        <p>
            <strong>Powered by Automation Factory</strong>
        </p>
        </div>
    </footer>
</main>