<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<main class="main-wrapper">
    <!-- header -->
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="https://banner2.kisspng.com/20180424/jbe/kisspng-unilever-logo-company-variety-vector-5adfcaccb776b7.7171107415246158847515.jpg"
                    alt="VM Process Monitoring & Alerting Tool">
            </a>
            <h3 id="abc" style="font-weight: 500; margin-top: 8px;">VM Process Monitoring & Alerting Tool</h3>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">

            </div>

            <!-- <div class="navbar-end">
                  <a class="navbar-item" href="/chatbot">
                      Chatbot
                  </a>
                  <a class="navbar-item" href="/nlp">
                      Natural Language Processing
                  </a>
              </div> -->
        </div>
    </nav>

    <!-- Routed Page Content -->
    <router-outlet></router-outlet>

    <!-- footer -->
    <footer class="footer" style="background-color: #cdfddf">
        <div class="content has-text-centered">
            <p>
                <strong>Powered by Automation Factory</strong>
            </p>
        </div>
    </footer>
</main>