/* #datadiv{
    font-weight: bold;
    color: white;
    background-color: lightgrey;
    width: 120px;
    height: 39px;
    float: left;
    margin: 15px;
    background-color: #0f0bfd38;
    font-size: smaller;
    border: 1px solid black;
    border-radius: 10px;
} */